// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: space-around;
}
